footer {
    color: white;
    background-color: black;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links img {
    width: 5em;
    height: 5em;
}

.copyright-notice {
    text-align: center;
    padding: 1em 0;
}